## [ Build Results ]
[Bb]in/
[Oo]bj/

## [ Visual Studio ]
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## [ Rider ]
.idea/

## [ NuGet ]
packages/
*.nuget.props
*.nuget.targets

## [ OS ]
.DS_Store
Thumbs.db

## [ Publishing ]
# 게시(Publish) 시 생성되는 폴더
publish/